<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>政大二手交換站</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script>
  function isHidden(oDiv){
      var vDiv = document.getElementById(oDiv);
      vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
    }
</script>
</head>

<body class="hold-transition sidebar-mini layout-boxed">
    <!-- Site wrapper -->
    <div class="wrapper">

        <% include subsection/nav.ejs %>

        <% include subsection/aside.ejs %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>常見問題</h1>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-0">


                                </div>
                                <div class="card-body p-0">
                                    <table class="table table-striped table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th>主題</th>

                            </div>
                            <div class="card-body p-0">
                                <table class="table table-striped table-valign-middle">

                                    <tbody>
                                    <tr>
                                      <td>
                                      <div style="cursor:hand" onclick="isHidden('div1')">

                                        Q1: 如何註冊為會員？
                                        <div id ="div1" style="display:none"> 點選左邊功能列表的登入＆＆我是誰後，選取登入方格下的註冊新帳號，使用學生證號碼即可開始（暫定？）
                                          <p>增加一點內文量...
                                          </br>1.wkeqjjl
                                        </br>2.fwifpf
                                          </p>
                                        </div>

                                        <td>
                                            <a href="#" class="text-muted">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </td>
                                    </div>
                                    </td>


                                    </tr>


                                            </tr>
                                        </thead>


                                </div>
                                <div class="card-body p-0">


                                    <tbody>
                                        <tr>



                                      <td>
                                      <div style="cursor:hand" onclick="isHidden('div2')">

                                        Q2: 交換生如何註冊為會員？
                                        <div id ="div2" style="display:none"> 點選左邊功能列表的登入＆＆我是誰後，選取登入方格下的註冊新帳號，一樣使用學生證號碼即可開始（暫定？）
                                          <p>增加一點內文量</p>
                                        </div>


                                    </div>
                                    </td>
                                    <td>
                                        <a href="#" class="text-muted">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </td>



                                    </tbody>

                                </div>
                                <div class="card-body p-0">


                                <tbody>
                                <tr>
                                  <div style="cursor:hand" onclick="isHidden('div3')">
                                    <td>Q3: 如果忘記密碼該怎麼辦？
                                      <div id ="div3" style="display:none"> 點選左邊功能列表的登入＆＆我是誰後，選取登入方格下的忘記密碼，按照步驟輸入相關資料後即可獲得</div>
                                    </div>
                                    </td>
                                    <td>
                                        <a href="#" class="text-muted">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </td>
                                </tr>



                                    </tbody>

                                </div>
                                <div class="card-body p-0">


                                    <tbody>
                                        <tr>



                                            <td>Q4: 如何修改密碼？</td>

                                            <td>
                                                <a href="#" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>


                                    </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <% include subsection/footer.ejs %>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>

</html>
