<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>政大二手交換站</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini layout-boxed">
    <!-- Site wrapper -->
    <div class="wrapper">

        <% include subsection/nav.ejs %>

        <% include subsection/aside.ejs %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>新增商品</h1>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">物品照片</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/somewhere/to/upload" enctype="multipart/form-data">

                                    <img id="preview_progressbarTW_img" src="images/pic02.jpg" width="100%" />

                                    <input type="file" name="image" id="progressbarTWInput"
                                        accept="image/gif, image/jpeg, image/png"/>



                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">內容資訊</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="inputName">物品名稱</label>
                                    <input type="text" id="inputName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inputCategory">物品分類</label>
                                    <select class="form-control custom-select" id="inputCategory">
                                        <option selected="" disabled="">請選擇</option>
                                        <option>服飾</option>
                                        <option>鞋類</option>
                                        <option>其他</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputTime">入手時間</label>
                                    <input type="text" id="inputTime" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inputDescription">詳細規格</label>
                                    <textarea id="inputDescription" class="form-control" rows="4"></textarea>
                                </div>


                                <div class="form-group">
                                    <label for="inputLocal">期望面交地點</label>
                                    <input type="text" id="inputLocal" class="form-control">
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="/" class="btn btn-secondary">返回首頁</a>
                        <input type="submit" onclick="uploaditem()" value="新增物品" class="btn btn-success float-right">
                    </div>
                </div>
            </section>

        </div>
        <!-- /.content-wrapper -->
        <% include subsection/footer.ejs %>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>

    <script src="../../pagejs/newitem.js"></script>
</body>

</html>